{% extends 'web/base.html' %}
{% load static %}
{% block content %}

   <!--===== HERO AREA START =====-->

   <div class="inner-hero bg-cover" style="background-image: url({% static 'web/assets/img/bg/inner-hero-bg.jpg' %});">
      <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="inner-heading">
                    <h1>About Us</h1>
                    <div class="breadcrumbs-pages">
                        <ul>
                           <li><a href="index.html">Home</a></li>
                           <li class="angle"><i class="fa-solid fa-angle-right"></i></li>
                           <li>Contact Us</li>
                        </ul>
                     </div>
                </div>
            </div>
            
        </div>
      </div>
      <div class="sec-shape">
        <img src="{% static 'web/assets/img/shapes/inner-hero-shape.png' %}" alt="">
      </div>
   </div>

   <!--===== HERO AREA START =====-->
   
   <!--===== ABOUT AREA START =====-->

   <div class="about2 sp _relative z-3">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-5">
               <div class="about2-images">
                  <div class="image1" data-aos="zoom-out" data-aos-duration="900">
                     <img src="{% static 'web/assets/img/about/about2-image1.png' %}" alt="">
                  </div>
               </div>
            </div>
            <div class="col-lg-7">
               <div class="heading1 ml-30 sm:ml-0 md:ml-0 md:mt-30 sm:mt-30">
                  <span class="sub-title2 left-side" data-aos="fade-left" data-aos-duration="800">Who We Are</span>
                  <h2 data-aos="fade-left" data-aos-duration="1000">Delivering Quality, Building Trust Since 2017</h2>
                  <p class="mt-16" data-aos="fade-left" data-aos-duration="1100">Speed and Safe General Trading is one of the fast growing, most trusted and sought-after general food and non-food, wholesale, bulk distributors. We also trade bulk grocery items and our foot print is in the entire Middle East countries</p>
                  <p class="mt-16" data-aos="fade-left" data-aos-duration="1100">Since its formation in 2017, the company has gained a great reputation as a distributor of apex quality food products from meat, poultry to sea food throughout the Middle East. Our wholesale trade of groceries and non-food items, actively distributed in UAE currently, is now fast growing throughout the Middle East. We are into the process of creating a strong goodwill base as one of the most trustworthy, vibrant and homely suppliers of food and non-food items in the GCC.</p>
               </div>
               <div class="button mt-30" data-aos="fade-left" data-aos-duration="1400">
                  <a class="theme-btn1" href="" target=><span class="text">Download Our Brochure  </span><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
              </div>
            </div>
         </div>
      </div>
   </div>

   <!--===== ABOUT AREA END =====-->


   <!--===== More About START =====-->

   <div class="service5 sp _relative z-3 bg-cover-custom bg-center-top bg-no-repeat" style="background-image: url({% static 'web/assets/img/bg/common-bg2.jpg' %});">
      <div class="container">
         <div class="row">
            <div class="col-lg-7 m-auto">
               <div class="heading1 text-center">
                  <span class="sub-title3" data-aos="fade-left" data-aos-duration="800">Reliable Logistics Solutions</span>
                  <h2 data-aos="fade-left" data-aos-duration="1000">Moving Your Business Forward with Dependable Logistics</h2>
               </div>
            </div>
         </div>
         <div class="row mt-30">
            <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon1.svg' %}" alt="">
                  </div>
                  <a class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a>MISSION</a></h3>
                     <p class="mt-16 pera2">Our ambitious goal of providing the best quality food and non-food products in UAE and throughout the Middle East directs us to our success. We try to be the wholesale partner whom can be trusted and committed to provide the total needs of our customers. Our ultimate goal is to be the single base supplier of quality food and non-food products to the Middle East</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon2.svg' %}" alt="">
                  </div>
                  <a class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a>VISION</a></h3>
                     <p class="mt-16 pera2">Speed and Safe General Trading vision is to become one of the most sort-out wholesale distributors in the GCC for food and non-food products, excelling both in quality, timely delivery and make the customers feel that they are our masters.</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon3.svg' %}" alt="">
                  </div>
                  <a class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a>BEST PRICE VALUE</a></h3>
                     <p class="mt-16 pera2">Our marketing team is on constant review of the pricing of identical products in the GCC and our products are competitively priced coupled with excellent quality. We are aware that ‘if peanuts are paid then the quality gets compromised’. So, it is our endeavour to get the best price without any leeway in the quality. We are one group that will never compromise on quality for the sake of price, but at the same time we price our products to become affordable to every customer.</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon3.svg' %}" alt="">
                  </div>
                  <a class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a>QUALITY POLICY</a></h3>
                     <p class="mt-16 pera2">We thrive for excellent quality of the products and our quality checking to include a product into our portfolio is exhaustive. We are meticulous in our product selection by exploring the origin of product, the process of those products to become a commercial item and also monitor the final packing. Our experts involve in every single aspect of the product getting loaded to the UAE and we ensure top-class storing in UAE. We monitor and ensure the delivery to the customers at exceptional level of excellence. We take pride in supplying quality products in the Middle East</p>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="sec-shape">
         <img src="assets/img/shapes/cta4-image.png" alt="">
      </div>
   </div>

   <!--===== More About AREA END =====-->


   <!--===== WHY CHOOSE  AREA START =====-->

   <div class="mission-page sp" style="background-color: #F6F6F6;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="heading1 mr-50 md:mr-0 sm:mr-0">
                    <span class="sub-title"><img src="{% static 'web/assets/img/icon/sub-title-icon1.svg' %}" alt=""> Why Choose Us</span>
                    <h2>From Start To Destination Our Logistics Journey</h2>
                    <p class="mt-16">Our quality conscious is omnipresent. We ensure 100% safety on and all our products before they are packed and continue to monitor the quality till they are delivered to our customers.</p>
                    <p class="mt-16">We have a large volume of happy, satisfied and loyal customer base from the Middle East and they express full commitment to support us. Currently the company does AED 50+ M business and with the expected growth backed by invested funding, anticipates to reach AED 125+ M in 1 - 2 years.</p>
                    <p class="mt-16">We are in the process of developing online wholesale stores for our buyers to choose directly from our wide range of products with a price advantage compared to other wholesalers in UAE. This should be functional by the last quarter of 2022, which will add on to our existing business profile.</p>
                    
                </div>
            </div>
            <div class="col-lg-5">
                <div class="mission-sec-images md:mt-30 sm:mt-30">
                    <div class="image1">
                        <img src="{% static 'web/assets/img/about/mission-sec-image1.png' %}" alt="">
                    </div>
                    <div class="image2">
                        <img src="{% static 'web/assets/img/about/mission-sec-image2.png' %}" alt="">
                    </div>
                    <div class="text-shape animate1">
                        <h3>9+</h3>
                        <p>Years Of Experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>

   <!--===== WHY CHOOSE AREA END =====-->


{% endblock %}