{% extends 'web/base.html' %}
{% load static %}
{% block content %}

   <!--===== HERO AREA START =====-->

   <div class="inner-hero bg-cover" style="background-image: url({% static 'web/assets/img/bg/inner-hero-bg.jpg' %});">
      <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="inner-heading">
                    <h1>About Us</h1>
                    <div class="breadcrumbs-pages">
                        <ul>
                           <li><a href="index.html">Home</a></li>
                           <li class="angle"><i class="fa-solid fa-angle-right"></i></li>
                           <li>Contact Us</li>
                        </ul>
                     </div>
                </div>
            </div>
            
        </div>
      </div>
      
   </div>

   <!--===== HERO AREA START =====-->
   
   <!--===== ABOUT AREA START =====-->

   <div class="about2 sp _relative z-3">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-5">
               <div class="about2-images">
                  <div class="image1" data-aos="zoom-out" data-aos-duration="900">
                     <img src="{% static 'web/assets/img/about/about2-image1.png' %}" alt="">
                  </div>
               </div>
            </div>
            <div class="col-lg-7">
               <div class="heading1 ml-30 sm:ml-0 md:ml-0 md:mt-30 sm:mt-30">
                  <span class="sub-title2 left-side" data-aos="fade-left" data-aos-duration="800">Who We Are</span>
                  <h2 data-aos="fade-left" data-aos-duration="1000">Delivering Quality, Building Trust Since 2017</h2>
                  <p class="mt-16" data-aos="fade-left" data-aos-duration="1100">Speed and Safe General Trading is a leading and rapidly growing distributor of food and non-food items in the Middle East. As a trusted wholesale supplier, we specialize in bulk grocery trading, serving clients across the UAE and expanding our footprint throughout the GCC.</p>
                  <p class="mt-16" data-aos="fade-left" data-aos-duration="1100">Established in 2017, we have built a strong reputation for supplying high-quality food products, including meat, poultry, and seafood. Our commitment to excellence, timely delivery, and customer satisfaction has positioned us as one of the most reliable and sought-after wholesale trading companies in the region. With a focus on quality, trust, and long-term relationships, we continue to grow as a preferred partner in food and non-food distribution across the Middle East.</p>
               </div>
               <div class="button mt-30" data-aos="fade-left" data-aos-duration="1400">
                  <a class="theme-btn1" href="" target=><span class="text">Download Our Brochure  </span><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
              </div>
            </div>
         </div>
      </div>
   </div>

   <!--===== ABOUT AREA END =====-->


   <!--===== More About START =====-->

   <div class="service5 sp _relative z-3 bg-cover-custom bg-center-top bg-no-repeat" style="background-image: url({% static 'web/assets/img/bg/common-bg2.jpg' %});">
      <div class="container">
         <div class="row">
            <div class="col-lg-7 m-auto">
               <div class="heading1 text-center">
                  <span class="sub-title3" data-aos="fade-left" data-aos-duration="800">Reliable Logistics Solutions</span>
                  <h2 data-aos="fade-left" data-aos-duration="1000">Moving Your Business Forward with Dependable Logistics</h2>
               </div>
            </div>
         </div>
         <div class="row mt-30">
            <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon1.svg' %}" alt="">
                  </div>
                  <a class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a>MISSION</a></h3>
                     <p class="mt-16 pera2">Our mission is driven by a strong ambition to deliver the highest quality food and non-food products across the UAE and the wider Middle East. We strive to be a trusted wholesale partner, fully committed to meeting the complete needs of our customers. Our ultimate goal is to become the go-to, single-source supplier for premium food and non-food products throughout the region.</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon2.svg' %}" alt="">
                  </div>
                  <a class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a>VISION</a></h3>
                     <p class="mt-16 pera2">The vision of Speed and Safe General Trading is to become one of the most sought-after wholesale distributors of food and non-food products in the GCC. We aim to excel in product quality, ensure timely delivery, and foster lasting relationships by making every customer feel valued and respected.</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon3.svg' %}" alt="">
                  </div>
                  <a class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a>BEST PRICE VALUE</a></h3>
                     <p class="mt-16 pera2">Our marketing team continuously monitors market pricing across the GCC to ensure our products remain competitively priced while maintaining exceptional quality. We understand that compromising on cost often means compromising on quality—and that is never an option for us. At Speed and Safe General Trading, we are committed to offering the best value by securing the most competitive prices without ever lowering our quality standards. Our goal is to provide high-quality food and non-food products that are both reliable and affordable for every customer.</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon3.svg' %}" alt="">
                  </div>
                  <a class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a>QUALITY POLICY</a></h3>
                     <p class="mt-16 pera2">At Speed and Safe General Trading, we are committed to delivering only the highest quality products. Our quality assurance process is thorough and detailed before any product is added to our portfolio. We carefully evaluate every item—tracing its origin, reviewing production methods, and inspecting final packaging. Our experts are involved in every step, from sourcing to loading for shipment to the UAE. Once in the country, we ensure top-tier storage and maintain exceptional delivery standards. We take great pride in being a trusted supplier of premium food and non-food products across the Middle East.</p>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="sec-shape">
         <img src="assets/img/shapes/cta4-image.png" alt="">
      </div>
   </div>

   <!--===== More About AREA END =====-->


   <!--===== WHY CHOOSE  AREA START =====-->

   <div class="mission-page sp" style="background-color: #F6F6F6;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="heading1 mr-50 md:mr-0 sm:mr-0">
                    <span class="sub-title2 left-side" data-aos="fade-left" data-aos-duration="800">Why Choose Us</span>
                    <h2>From Start To Destination Our Logistics Journey</h2>
                    <p class="mt-16">Our commitment to quality is unwavering. We guarantee 100% safety on all of our products, ensuring they undergo rigorous checks before being packed, with continuous monitoring throughout the delivery process.</p>
                    <p class="mt-16">We take great pride in our large and loyal customer base from the Middle East, who consistently express their support and commitment to our company. Currently, we are generating over AED 50 million in business, and with the backing of additional investment, we project our growth will propel us to AED 125 million within the next 1-2 years.</p>
                    <p class="mt-16">We are also in the process of launching online wholesale stores, enabling our buyers to directly select from our extensive product range. This new platform will offer competitive pricing compared to other wholesalers in the UAE. We anticipate this service to be fully operational by the last quarter of 2022, further enhancing our business profile.</p>
                    
                </div>
            </div>
            <div class="col-lg-5">
                <div class="mission-sec-images md:mt-30 sm:mt-30">
                    <div class="image1">
                        <img src="{% static 'web/assets/img/about/mission-sec-image1.png' %}" alt="">
                    </div>
                    <div class="image2">
                        <img src="{% static 'web/assets/img/about/mission-sec-image2.png' %}" alt="">
                    </div>
                    <div class="text-shape animate1">
                        <h3>9+</h3>
                        <p>Years Of Experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>

   <!--===== WHY CHOOSE AREA END =====-->


{% endblock %}