{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
        <!-- Primary Meta Tags -->
        <title>{{meta.meta_title}}</title>
        <meta name="title" content="{{meta.meta_title}}" />
        <meta name="description" content="{{meta.meta_description}}" />
        <meta name="keywords" content="{{meta.meta_keywords}}">
        <link rel="canonical" href="{{meta.canonical_url}}" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{meta.canonical_url}}" />
        <meta property="og:title" content="{{meta.meta_title}}" />
        <meta property="og:description" content="{{meta.meta_description}}" />
        {% if meta.image %}
            <meta property="og:image" content="{{meta.image.url}}" />
        {% else %}
            <meta property="og:image" content="{% static 'web/assets/img/meta_image.jpg' %}" />
        {% endif %}

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="{{meta.canonical_url}}" />
        <meta property="twitter:title" content="{{meta.meta_title}}" />
        <meta property="twitter:description" content="{{meta.meta_description}}" />
        {% if meta.image %}
            <meta property="twitter:image" content="{{meta.image.url}}" />
        {% else %}
            <meta property="twitter:image" content="{% static 'web/assets/img/meta_image.jpg' %}" />
        {% endif %}
    
    {% endblock meta %}
     <!--=====FAB ICON=======-->
     <link rel="shortcut icon" href="{% static 'web/assets/img/logo/favicon.svg' %}" type="image/x-icon">


     <!--=====CSS=======-->
     <link rel="stylesheet" href="{% static 'web/assets/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'web/assets/css/fontawesome.css' %}">
     <link rel="stylesheet" href="{% static 'web/assets/css/magnific-popup.css' %}">
     <link rel="stylesheet" href="{% static 'web/assets/css/nice-select.css' %}">
     <link rel="stylesheet" href="{% static 'web/assets/css/swiper-bundle.css' %}">
     <link rel="stylesheet" href="{% static 'web/assets/css/aos.css' %}">
     <link rel="stylesheet" href="{% static 'web/assets/css/utility.css' %}">
     <link rel="stylesheet" href="{% static 'web/assets/css/main.css' %}">
     <link rel="stylesheet" href="{% static 'web/assets/css/custom.css' %}">
     <link rel="stylesheet" href="{% static 'web/assets/css/extra.css' %}">
     
     <!-- Swiper CSS -->
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>
<body class="body1">
<div class="paginacontainer"> 

  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
  </div>

</div> 

<!--=====progress END=======-->

<!-- Preloader Start -->
<div class="preloader">
   <div class="loading-container">
     <div class="loading"></div>
     <div id="loading-icon"><img class="main-load" src="{% static 'web/assets/img/logo/logo.png' %}" alt=""></div>
   </div>
 </div>
 <!-- Preloader End -->



{% include 'web/partials/header.html' %}

{% include 'web/partials/mobile_header.html' %}


<main>

    {% block content %}

    {% endblock %}

    <div class="fixed_right">
        <a target="_blank" href="tel:+971509846948">
            <div class="quick_contact" id="call">
                <div class="s_bx">
                    <svg viewBox="0 0 513.64 513.64">
                        <path d="M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72
                            c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68
                            c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44
                            l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z"></path>
                    </svg>

                </div>
            </div>
        </a>

        <a target="_blank" href="https://api.whatsapp.com/send?phone=+971561402818">
            <div class="quick_contact">
                <div class="s_bx">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="155.139" height="155.139">
                        <path d="M16 0C7.163 0 0 7.163 0 16c0 2.837.743 5.502 2.033 7.856L0 32l8.293-2.178A15.937 15.937 0 0016 32c8.837 0 16-7.163 16-16S24.837 0 16 0zm0 29.6a13.6 13.6 0 01-7.066-1.962l-.506-.301-4.905 1.287 1.311-4.783-.329-.493A13.55 13.55 0 012.4 16c0-7.506 6.094-13.6 13.6-13.6S29.6 8.494 29.6 16 23.506 29.6 16 29.6zm7.388-10.857c-.405-.203-2.4-1.184-2.773-1.32-.373-.136-.645-.203-.916.203s-1.05 1.32-1.29 1.59c-.236.27-.473.304-.878.101-.405-.203-1.711-.63-3.262-2.008-1.206-1.08-2.02-2.412-2.257-2.817-.236-.405-.026-.623.178-.826.183-.182.405-.473.608-.71.203-.236.27-.405.405-.675.135-.27.068-.506-.034-.709-.101-.203-.916-2.215-1.254-3.03-.33-.796-.665-.688-.916-.688-.237 0-.506-.034-.776-.034s-.71.101-1.08.506c-.37.405-1.414 1.38-1.414 3.362 0 1.982 1.447 3.898 1.65 4.168.203.27 2.855 4.35 6.923 6.103.967.417 1.722.666 2.31.854.972.309 1.858.265 2.56.161.781-.116 2.4-.98 2.74-1.926.338-.945.338-1.756.236-1.926-.101-.17-.37-.27-.775-.473z" fill="#fff"/>
                    </svg>

                </div>
            </div>
        </a>

        <a target="_blank" href="mailto:info@speedandsafetrading.com">
            <div class="quick_contact">
                <div class="s_bx">
                    <svg id="envelope" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="100" height="100">
                        <path d="M467 61H45C20.2 61 0 81.2 0 106v300c0 24.8 20.2 45 45 45h422c24.8 0 45-20.2 45-45V106c0-24.8-20.2-45-45-45zM467 106v24.6L256 285 45 130.6V106h422zM45 406V178.8l200.6 144.9c4.8 3.5 10.6 5.3 16.4 5.3s11.6-1.8 16.4-5.3L467 178.8V406H45z"/>
                    </svg>
                </div>
            </div>
        </a>
        
    </div>

</main>

{% include 'web/partials/footer.html' %}

         <!--=== js === -->
         <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
         <script src="{% static 'web/assets/js/jquery-3-7-1.min.js' %}"></script>
         <script src="{% static 'web/assets/js/bootstrap.min.js' %}"></script>
         <script src="{% static 'web/assets/js/fontawesome.js' %}"></script>
         <script src="{% static 'web/assets/js/jquery.magnific-popup.js' %}"></script>
         <script src="{% static 'web/assets/js/jquery.countup.js' %}"></script>
         <script src="{% static 'web/assets/js/jquery.nice-select.js' %}"></script>
         <script src="{% static 'web/assets/js/swiper-bundle.js' %}"></script>
         <script src="{% static 'web/assets/js/aos.js' %}"></script>
         <script src="{% static 'web/assets/js/SmoothScroll.js' %}"></script>
         <script src="{% static 'web/assets/js/main.js' %}"></script>

         <!-- Swiper JS -->
         <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

         {% block js %} {% endblock js %}


</body>
</html>