{% extends 'web/base.html' %}
{% load static %}
{% block content %}
   <!--===== HERO AREA START =====-->

   <div class="inner-hero bg-cover" style="background-image: url({% static 'web/assets/img/bg/inner-hero-bg.jpg' %});">
      <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="inner-heading">
                    <h1>Contact Us</h1>
                    <div class="breadcrumbs-pages">
                        <ul>
                           <li><a href="{% url 'web:index' %}">Home</a></li>
                           <li class="angle"><i class="fa-solid fa-angle-right"></i></li>
                           <li>Contact Us</li>
                        </ul>
                     </div>
                </div>
            </div>
            
        </div>
      </div>
      <div class="sec-shape">
        <img src="{% static 'web/assets/img/shapes/inner-hero-shape.png' %}" alt="">
      </div>
   </div>

   <!--===== HERO AREA START =====-->
   
   <!--===== CONTACT AREA START =====-->

   <div class="contact1 sp bg-cover z-2 _relative">
    <div class="container">
       <div class="row">
          <div class="col-lg-7">
             <div class="contact1-form-area">
                <form id="contactForm" action="#" method="POST">
                  {% csrf_token %}
                   
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="contact1-form1" role="tabpanel" aria-labelledby="contact1-form1-tab">
                         <div class="contact1-form add-box-shadow">
                            <div class="row">
                               <div class="col-md-6">
                                  <div class="contact1-input nam-input">
                                     <label>Full Name*</label>
                                     {{form.name}}
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="contact1-input email-input">
                                     <label>Email Address*</label>
                                     {{form.email}}
                                  </div>
                               </div>

                               <div class="col-md-6">
                                  <div class="contact1-input Weight-input">
                                     <label>Number*</label>
                                     {{form.phone}}
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="contact1-input desitance-input">
                                     <label>Subject*</label>
                                     {{form.subject}}
                                  </div>
                               </div>
                               <div class="col-md-12">
                                  <div class="contact1-input select-nice">
                                     <label>Message*</label>
                                     {{form.message}}
                                  </div>
                                  <div class="col-md-12">
                                    <div class="cf-turnstile" data-sitekey="{{ turnstile_site_key }}"></div>
                                  </div>
                                  <div class="button">
                                     <button class="theme-btn1 mt-30" type="submit"><span class="text">Submit Form </span><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></button>
                                  </div>
                               </div>

                            </div>
                         </div>
                      </div>
                      
                    </div>
                </form>
             </div>
          </div>
          <div class="col-lg-5">
             <div class="contact1-images">
                <div class="image1">
                   <img src="{% static 'web/assets/img/others/contact1-image1.png' %}" alt="">
                </div>
               
             </div>
          </div>
       </div>
       <div class="row mt-30">
        <div class="col-lg-4 col-md-6">
            <div class="contact-page-box">
                <div class="icon">
                    <img src="{% static 'web/assets/img/icon/contact-page-icon1.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Our Email</h4>
                    <a href="mailto:logicxtransport@.com">logicxtransport@.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="contact-page-box">
                <div class="icon">
                    <img src="{% static 'web/assets/img/icon/contact-page-icon2.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Phone</h4>
                    <a href="tel:11234567890">+1 123 456 7890</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="contact-page-box">
                <div class="icon">
                    <img src="{% static 'web/assets/img/icon/contact-page-icon3.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Schedule</h4>
                    <a href="#">Sunday-Fri: 9 AM – 6 PM</a>
                </div>
            </div>
        </div>
       </div>
    </div>
 </div>

 <!--===== CONTACT AREA END =====-->

 <div class="contact-map-page">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d196064.65881483705!2d88.93201515862421!3d24.061083775097945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39febca82f6a21ed%3A0x4040980d7c6874f8!2sKushtia%20District!5e0!3m2!1sen!2sbd!4v1673751720794!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

   {% endblock %}

{% block js %}

   <script>
      $(document).ready(function() {
          $("#contactForm").submit(function(event) {
              event.preventDefault();
              
              var formData = $(this).serialize();  
              
              $.ajax({
                  type: "POST",
                  url: "{% url 'web:contact' %}",  
                  data: formData,
                  dataType: "json",
                  success: function(response) {
                      if (response.status === "true") {
                          Swal.fire({
                              icon: "success",
                              title: response.title,
                              text: response.message,
                              confirmButtonText: "OK",
                              showCancelButton: true,
                              cancelButtonText: "WhatsApp",
                          }).then((result) => {
                              if (result.dismiss === Swal.DismissReason.cancel) {
                                  window.open(response.whatsapp_url, "_blank");
                              }
                          });
      
                          $("#contactForm")[0].reset();  
                      } else {
                          Swal.fire({
                              icon: "error",
                              title: response.title,
                              text: response.message,
                          });
                      }
                  },
                  error: function() {
                      Swal.fire({
                          icon: "error",
                          title: "Submission Failed",
                          text: "Something went wrong. Please try again later.",
                      });
                  }
              });
          });
      });
  </script>
  
{% endblock js %}