{% extends 'web/base.html' %}
{% load static %}
{% block content %}

   <!--===== HERO AREA START =====-->

   <div class="hero5-area _relative">
      <div class="swiper-container5 _relative">
         <div class="swiper-wrapper">

            {% for banner in banners %}
            <div class="swiper-slide">
               <div class="main-bg-image">
                  <img src="{{banner.image.url}}" alt="{{banner.title}}">
               </div>
               
               <div class="hero5-content">
                  <div class="container">
                     <div class="row align-items-center">
                        <div class="col-lg-10 text-center m-auto">
                           <div class="hero5-heading">
                              <span class="sub-title">{{banner.sub_title}}</span>
                              <h1>{{banner.title}}</h1>
                              <div class="button mt-30" data-aos="fade-left" data-aos-duration="1400">
                                 <a class="theme-btn1" href="#"><span class="text">Know More </span><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}

         </div>
      </div>
      
      <div class="hero5-slider-btns">
        <button class="swiper-button-prev"></button>
        <button class="swiper-button-next"></button>
      </div>
   </div>

   <!--===== HERO AREA START =====-->

   <!--===== ABOUT AREA START =====-->

  <div class="about4 sp">
   <div class="container">
       <div class="row align-items-center">
           <div class="col-lg-6">
               <div class="about4-images mr-30 sm:mr-30 md:mr-0">
                   <div class="image1" data-aos="zoom-out" data-aos-duration="800">
                       <img src="{% static 'web/assets/img/about/about4-image1.png' %}" alt="">
                   </div>
                   <div class="image2" data-aos="zoom-out" data-aos-duration="1000">
                       <img src="{% static 'web/assets/img/about/about4-image2.png' %}" alt="">
                   </div>
                   <div class="about4-image-text" data-aos="zoom-out" data-aos-duration="800">
                       <h3>15,360</h3>
                       <p>Clients Worldwide</p>
                   </div>
               </div>
           </div>
           <div class="col-lg-6">
               <div class="heading1 md:mt-30 sm:mt-30">
                   <span class="sub-title" data-aos="fade-left" data-aos-duration="800"><img src="assets/img/icon/sub-title-icon1.svg" alt=""> Reliable Logistics Solutions</span>
                   <h2 data-aos="fade-left" data-aos-duration="1000">Delivering Dependability Reliable Logistics Service</h2>
                   <p class="mt-16" data-aos="fade-left" data-aos-duration="1200">At Logicx, we specialize in providing reliable logistics solutions that ensure shipment arrive on time every time. Our commitment to efficiency, transparency, and customer satisfaction allows</p>
                   <div class="about4-list" data-aos="fade-left" data-aos-duration="1100">
                       <ul>
                           <li><span class="check"><i class="fa-solid fa-check"></i></span> Moving Your Business Forward with Reliable Logistics</li>
                           <li><span class="check"><i class="fa-solid fa-check"></i></span> Logistics Made Simple: Reliable, Fast, and Efficient</li>
                           <li><span class="check"><i class="fa-solid fa-check"></i></span> Precision and Reliability in Every Shipment</li>
                       </ul>
                   </div>
                   <div class="button mt-30" data-aos="fade-left" data-aos-duration="1300">
                       <a class="theme-btn3" href="about.html">See How It Works </a>
                    </div>
               </div>
           </div>
       </div>
   </div>
 </div>

 <!--===== ABOUT AREA END =====-->


   <!--===== SERVICE AREA START =====-->

   <div class="service5 sp bg-cover-custom bg-center-top bg-no-repeat" style="background-image: url({% static 'web/assets/img/bg/common-bg2.jpg' %});">
      <div class="container">
         <div class="row">
            <div class="col-lg-7 m-auto">
               <div class="heading1 text-center">
                  <span class="sub-title3" data-aos="fade-left" data-aos-duration="800">Reliable Logistics Solutions</span>
                  <h2 data-aos="fade-left" data-aos-duration="1000">Moving Your Business Forward with Dependable Logistics</h2>
               </div>
            </div>
         </div>
         <div class="row mt-30">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon1.svg' %}" alt="">
                  </div>
                  <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a href="service-details.html">Trust Track Logistics</a></h3>
                     <p class="mt-16 pera2">We provide reliable logistics solutions the designed to ensure seamless supply chain management and efficient operations.</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon2.svg' %}" alt="">
                  </div>
                  <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a href="#">Sure Ship Logistics</a></h3>
                     <p class="mt-16 pera2">With a commitment precision timeliness, and security, our services are tailored to meet the unique needs of businesses</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon3.svg' %}" alt="">
                  </div>
                  <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a href="service-details.html">Dependex Logistics</a></h3>
                     <p class="mt-16 pera2">From storage and inventory management to last-mile delivery, we prioritize of the reliability in every step of the process.</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1300">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon4.svg' %}" alt="">
                  </div>
                  <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a href="service-details.html">Secura Trans Logistics</a></h3>
                     <p class="mt-16 pera2">Our expert team & advanced technology allow us offer transparent, cost-effective, and dependable solutions that keep</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon5.svg' %}" alt="">
                  </div>
                  <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a href="service-details.html">Veri Move Logistics</a></h3>
                     <p class="mt-16 pera2">We specialize in delivering reliable logistic solutions that ensure your supply chain an runs smoothly, efficiently, & interruption.</p>
                  </div>
               </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1200">
               <div class="service5-box mt-30">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/service5-icon6.svg' %}" alt="">
                  </div>
                  <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                  <div class="content mt-1 heading1">
                     <h3><a href="service-details.html">Ever Trust Logistics</a></h3>
                     <p class="mt-16 pera2">Whether you're to streamline operations, reduce costs, or scale your business, our reliable logistics service will help achieve</p>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="sec-shape">
         <img src="{% static 'web/assets/img/shapes/cta4-image.png' %}" alt="">
      </div>
   </div>

   <!--===== SERVICE AREA END =====-->

   <section class="hero10-benar bg-cover" style="background-image: url({% static 'web/assets/img/bg/logo-slider-bg1.png' %});">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">
            <div class="marquee-wrap marquee-wrap-inner">
              <div class="marquee-text">

                <div class="brand-single-box">
                <img src="{% static 'web/assets/img/logo/slider-logo1.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo2.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo3.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo4.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo5.png' %}" alt="">
              </div>


              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo1.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo2.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo3.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo4.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo5.png' %}" alt="">
                </div>


                <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo4.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo5.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo1.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo2.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo3.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo4.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo5.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo1.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo2.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo3.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo4.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo5.png' %}" alt="">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="slider-after"></div>
      </div>
    </section>

   <!--===== DELIVERY AREA START =====-->

   <div class="delivery2 sp  _relative z-2">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 m-auto">
               <div class="heading1 text-center">
                  <span class="sub-title3" data-aos="fade-left" data-aos-duration="800">From Order to Delivery</span>
                  <h2 data-aos="fade-left" data-aos-duration="1000">How We Deliver Excellence</h2>
               </div>
            </div>
         </div>
         <div class="row mt-30">
            <div class="col-lg mt-30">
               <div class="delivery1-item-box2">
                  <div class="icon text-end mr-30">
                     <span><img src="{% static 'web/assets/img/icon/delivery2-icon1.svg' %}" alt=""></span>
                  </div>
                  <div class="box-area" data-aos="flip-right" data-aos-duration="800">
                     <div class="box mr-30">
                        <h4><a href="case-details.html">Order Flow Logistics</a></h4>
                        <p class="mt-10">We specialize in seamless end to-end solutions that take</p>
                     </div>
                     <div class="num">
                        <h5>01</h5>
                     </div>
                  </div>
               </div>

               <div class="delivery1-item-box2 mt-40">
                  <div class="box-area" data-aos="flip-right" data-aos-duration="1000">
                     <div class="box mr-30">
                        <h4><a href="case-details.html">Track Ship Logistics</a></h4>
                        <p class="mt-10">We pride ourselve on providing seamless journey from order</p>
                     </div>
                     <div class="num">
                        <h5>02</h5>
                     </div>
                  </div>
                  <div class="icon text-end mr-30">
                     <span><img src="{% static 'web/assets/img/icon/delivery2-icon2.svg' %}" alt=""></span>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="delivery1-images mt-50 text-center">
                  <div class="main-image">
                     <img src="{% static 'web/assets/img/others/delivery2-main.png' %}" alt="">
                  </div>
                  <div class="element1">
                     <img src="{% static 'web/assets/img/shapes/delivery1-element1.png' %}" alt="">
                  </div>
                  <div class="element2">
                     <img src="{% static 'web/assets/img/shapes/delivery1-element2.png' %}" alt="">
                  </div>
                  <div class="element3">
                     <img src="{% static 'web/assets/img/shapes/delivery1-element3.png' %}" alt="">
                  </div>
                  <div class="element4">
                     <img src="{% static 'web/assets/img/shapes/delivery1-element4.png' %}" alt="">
                  </div>
               </div>
            </div>

            <div class="col-lg mt-30">
               <div class="delivery1-item-box2">
                  <div class="icon ml-30">
                     <span><img src="{% static 'web/assets/img/icon/delivery2-icon3.svg' %}" alt=""></span>
                  </div>
                  <div class="box-area" data-aos="flip-left" data-aos-duration="800">
                     <div class="num">
                        <h5>03</h5>
                     </div>
                     <div class="box ml-30">
                        <h4><a href="case-details.html">Flow Track Logistics</a></h4>
                        <p class="mt-10">We offer complete solution tha takes your orders seamlessly</p>
                     </div>
                  </div>
               </div>

               <div class="delivery1-item-box2 mt-40">
                  <div class="box-area" data-aos="flip-left" data-aos-duration="1000">
                     <div class="num">
                        <h5>04</h5>
                     </div>
                     <div class="box ml-30">
                        <h4><a href="case-details.html">Ship Track Solutions</a></h4>
                        <p class="mt-10">Ship Track Solutions We ensure smooth order to delivery.</p>
                     </div>
                  </div>
                  <div class="icon ml-30">
                     <span><img src="{% static 'web/assets/img/icon/delivery2-icon4.svg' %}" alt=""></span>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="sec-shape animate2">
         <img src="{% static 'web/assets/img/shapes/plane-shape1.png' %}" alt="">
      </div>
   </div>

   <!--===== DELIVERY AREA END =====-->

<!--===== CASE STUDY AREA START =====-->

<div class="case-study5 sp" style="background-color: #04252F;">
   <div class="container">
      <div class="row align-items-center align-items-center">
         <div class="col-lg-6">
            <div class="white-heading">
               <span class="sub-title2 left-side" data-aos="fade-left" data-aos-duration="800">Real-World Case Studies</span>
               <h2 data-aos="fade-left" data-aos-duration="1000">Explore Our Case Studies</h2>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="case5-slider-btns text-end md:text-start sm:text-start md:mt-30 sm:mt-30" data-aos="fade-right" data-aos-duration="800">
               <button class="custom-button case5-next"><i class="fas fa-chevron-left"></i></button>
               <button class="custom-button case5-prev"><i class="fas fa-chevron-right"></i></button>
             </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="case5-slider _relative mt-60" data-aos="fade-up" data-aos-duration="900">
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <div class="case5-single-slider">
                        <div class="image-area">
                           <div class="image">
                              <img src="{% static 'web/assets/img/others/case5-image1.png' %}" alt="">
                           </div>
                        </div>
                        <div class="content-area">
                           <a class="tag" href="#">#Logistic Service</a>
                           <h4><a href="case-details.html">Proven Logistics Strategies</a></h4>
                        </div>
                     </div>
                  </div>

                  <div class="swiper-slide">
                     <div class="case5-single-slider">
                        <div class="image-area">
                           <div class="image">
                              <img src="{% static 'web/assets/img/others/case5-image2.png' %}" alt="">
                           </div>
                        </div>
                        <div class="content-area">
                           <a class="tag" href="#">#Logistic Service</a>
                           <h4><a href="case-details.html">Supply Chain Optimization</a></h4>
                        </div>
                     </div>
                  </div>

                  <div class="swiper-slide">
                     <div class="case5-single-slider">
                        <div class="image-area">
                           <div class="image">
                              <img src="{% static 'web/assets/img/others/case5-image3.png' %}" alt="">
                           </div>
                        </div>
                        <div class="content-area">
                           <a class="tag" href="#">#Logistic Service</a>
                           <h4><a href="case-details.html">Supply Chain Optimization</a></h4>
                        </div>
                     </div>
                  </div>

                  <div class="swiper-slide">
                     <div class="case5-single-slider">
                        <div class="image-area">
                           <div class="image">
                              <img src="{% static 'web/assets/img/others/case5-image1.png' %}" alt="">
                           </div>
                        </div>
                        <div class="content-area">
                           <a class="tag" href="#">#Logistic Service</a>
                           <h4><a href="case-details.html">Proven Logistics Strategies</a></h4>
                        </div>
                     </div>
                  </div>

                  <div class="swiper-slide">
                     <div class="case5-single-slider">
                        <div class="image-area">
                           <div class="image">
                              <img src="{% static 'web/assets/img/others/case5-image2.png' %}" alt="">
                           </div>
                        </div>
                        <div class="content-area">
                           <a class="tag" href="#">#Logistic Service</a>
                           <h4><a href="case-details.html">Supply Chain Optimization</a></h4>
                        </div>
                     </div>
                  </div>

                  <div class="swiper-slide">
                     <div class="case5-single-slider">
                        <div class="image-area">
                           <div class="image">
                              <img src="{% static 'web/assets/img/others/case5-image3.png' %}" alt="">
                           </div>
                        </div>
                        <div class="content-area">
                           <a class="tag" href="#">#Logistic Service</a>
                           <h4><a href="case-details.html">Supply Chain Optimization</a></h4>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!--===== CASE STUDY AREA END =====-->

<!--===== CONTACT AREA START =====-->

<div class="contact1 sp bg-cover z-2 _relative">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="contact1-form-area mt-30">
               <form action="#">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                     <li class="nav-item" role="presentation">
                       <button class="nav-link active" id="contact1-form1-tab" data-bs-toggle="pill" data-bs-target="#contact1-form1" type="button" role="tab" aria-controls="contact1-form1" aria-selected="true">Request A Quote</button>
                     </li>
                     <li class="nav-item" role="presentation">
                       <button class="nav-link" id="contact1-form2-tab" data-bs-toggle="pill" data-bs-target="#contact1-form2" type="button" role="tab" aria-controls="contact1-form2" aria-selected="false">Real Time Tracking</button>
                     </li>
                   </ul>
                   <div class="tab-content" id="pills-tabContent">
                     <div class="tab-pane fade show active" id="contact1-form1" role="tabpanel" aria-labelledby="contact1-form1-tab">
                        
                        <div class="contact1-form add-box-shadow">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="contact1-input">
                                    <label>Full Name*</label>
                                    <input type="text" placeholder="Full Name*">
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="contact1-input">
                                    <label>Email Address*</label>
                                    <input type="text" placeholder="info@ruhulexample.com">
                                 </div>
                              </div>

                              <div class="col-md-6">
                                 <div class="contact1-input">
                                    <label>Weight KG*</label>
                                    <input type="number" placeholder="270 KG">
                                 </div>
                              </div>
      
                              <div class="col-md-6">
                                 <div class="contact1-input select-nice">
                                    <label>Flight Type*</label>
                                   <select class="wide">
                                    <option value="1">Transport Type</option>
                                   </select>
                                 </div>
                              </div>

                              <div class="col-lg-12">
                                 <div class="form-slider">
                                    <div class="slider-label">
                                      <span>Limit of Balance</span>
                                      <span id="maxValue">10000</span>
                                    </div>
                                    <input type="range" id="balance-slider2" min="0" max="10000" value="5000">
                                    <div class="selected-value">
                                      Selected Value: <span id="selectedValue2">5000</span>
                                    </div>
                                  </div>
                                  <div class="button mt-30">
                                    <button class="theme-btn3" type="submit">Submit Request Now </button>
                                 </div>
                              </div>

                           </div>
                        </div>

                     </div>
                     <div class="tab-pane fade" id="contact1-form2" role="tabpanel" aria-labelledby="contact1-form2-tab">

                        <div class="contact1-form add-box-shadow">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="contact1-input">
                                    <label>Full Name*</label>
                                    <input type="text" placeholder="Full Name*">
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="contact1-input">
                                    <label>Email Address*</label>
                                    <input type="text" placeholder="info@ruhulexample.com">
                                 </div>
                              </div>

                              <div class="col-md-6">
                                 <div class="contact1-input">
                                    <label>Weight KG*</label>
                                    <input type="number" placeholder="270 KG">
                                 </div>
                              </div>
      
                              <div class="col-md-6">
                                 <div class="contact1-input select-nice">
                                    <label>Flight Type*</label>
                                   <select class="wide">
                                    <option value="1">Transport Type</option>
                                   </select>
                                 </div>
                              </div>

                              <div class="col-lg-12">
                                 <div class="form-slider">
                                    <div class="slider-label">
                                      <span>Limit of Balance</span>
                                      <span id="maxValue2">10000</span>
                                    </div>
                                    <input type="range" id="balance-slider" min="0" max="10000" value="5000">
                                    <div class="selected-value">
                                      Selected Value: <span id="selectedValue">5000</span>
                                    </div>
                                  </div>
                                  <div class="button mt-30">
                                    <button class="theme-btn3" type="submit">Submit Request Now </button>
                                 </div>
                              </div>

                           </div>
                        </div>

                     </div>
                   </div>
               </form>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="heading1 ml-30 md:ml-0 sm:ml-0 md:mt-30 sm:mt-30">
               <span class="sub-title3 left-side" data-aos="fade-left" data-aos-duration="800">Reliable Service, Happy Clients</span>
               <h2 data-aos="fade-left" data-aos-duration="1000">Client Testimonials: Real Experiences Real Result</h2>
               <div class="contact5-review" data-aos="fade-up" data-aos-duration="800">
                  <div class="review-image">
                     <img src="{% static 'web/assets/img/testimonial/contact5-review-img.png' %}" alt="">  
                  </div>
                  <div class="stars">
                     <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                     </ul>
                  </div>
                  <div class="content">
                     <p>“We’ve been working with Logicx for over a year now, they’ve completely transformed our supply chain operations. Their reliable logistics solutions ensure products arrive time every time team always professional.”</p>
                  </div>
                  <div class="bottom-area">
                     <div class="text">
                        <a href="#">Chris Overton</a>
                        <p>GlobalTech Industry</p>
                     </div>
                     <div class="logo">
                        <img src="{% static 'web/assets/img/logo/google-logo5.png' %}" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!--===== CONTACT AREA END =====-->

<!--===== TEAM AREA START =====-->

<div class="team5 sp _relative z-2 bg-cover" style="background-image: url({% static 'web/assets/img/bg/common-bg1.jpg' %});">
   <div class="container">
      <div class="row align-items-center align-items-center">
         <div class="col-lg-6">
            <div class="heading1">
               <span class="sub-title2 left-side" data-aos="fade-left" data-aos-duration="800">Expert Team Members</span>
               <h2 data-aos="fade-left" data-aos-duration="1000">Team Behind The Success</h2>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="team5-slider-btns text-end md:text-start sm:text-start md:mt-30 sm:mt-30" data-aos="fade-right" data-aos-duration="800">
               <button class="custom-button team5-next"><i class="fas fa-chevron-left"></i></button>
               <button class="custom-button team5-prev"><i class="fas fa-chevron-right"></i></button>
             </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="team5-slider _relative mt-60" data-aos="fade-up" data-aos-duration="900">
               <div class="swiper-wrapper">

                  <div class="swiper-slide">
                     <div class="team5-single-slider">
                        <div class="image-area">
                           <div class="image">
                              <img src="{% static 'web/assets/img/team/team5-image1.png' %}" alt="">
                           </div>
                           <div class="social">
                              <ul>
                                 <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                 <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                 <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                 <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="content-area">
                           <div class="content">
                              <div class="text">
                                 <h4><a href="#">SR. Alex Robertson</a></h4>
                                 <p>CEO And Founder</p>
                              </div>
                              <div class="share-icon">
                                 <img src="{% static 'web/assets/img/icon/share-icon5.svg' %}" alt="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="swiper-slide">
                     <div class="team5-single-slider">
                        <div class="image-area">
                           <div class="image">
                              <img src="{% static 'web/assets/img/team/team5-image2.png' %}" alt="">
                           </div>
                           <div class="social">
                              <ul>
                                 <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                 <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                 <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                 <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="content-area">
                           <div class="content">
                              <div class="text">
                                 <h4><a href="#">Shelia Abernathy</a></h4>
                                 <p>Head Of Operations</p>
                              </div>
                              <div class="share-icon">
                                 <img src="{% static 'web/assets/img/icon/share-icon5.svg' %}" alt="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="swiper-slide">
                     <div class="team5-single-slider">
                        <div class="image-area">
                           <div class="image">
                              <img src="{% static 'web/assets/img/team/team5-image3.png' %}" alt="">
                           </div>
                           <div class="social">
                              <ul>
                                 <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                 <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                 <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                 <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="content-area">
                           <div class="content">
                              <div class="text">
                                 <h4><a href="#">Devin Romaguera</a></h4>
                                 <p>Logistics Manager</p>
                              </div>
                              <div class="share-icon">
                                 <img src="{% static 'web/assets/img/icon/share-icon5.svg' %}" alt="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!--===== TEAM AREA END =====-->

   <!--===== FAQ AREA START =====-->

   <div class="faq5 sp _relative">
      <div class="container">
         <div class="row">
            <div class="col-lg-5">
               <div class="heading1">
                  <span class="sub-title3" data-aos="fade-left" data-aos-duration="800">Frequently Asked Questions</span>
                  <h2 data-aos="fade-left" data-aos-duration="1000">Quick Answers Your Logistics Questions</h2>
                  <div class="image mt-30" data-aos="zoom-out" data-aos-duration="900">
                     <img src="{% static 'web/assets/img/others/faq5-image.png' %}" alt="">
                  </div>
               </div>
            </div>
            <div class="col-lg-7">
               <div class="faq5-area pt-16">
                  <div class="accordion accordion1 accordion-flush" id="accordionFlushExample">
                     <div class="accordion-item active" data-aos="fade-left" data-aos-duration="800">
                       <h2 class="accordion-header" id="flush-headingOne">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                           Do you provide storage or warehousing solutions?
                         </button>
                       </h2>
                       <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                         <div class="accordion-body">That's why we've compiled a list of frequently asked questions to help you get the answers you need quickly and easily. Whether you're curious about our range of services, need information on tracking your shipment, o</div>
                       </div>
                     </div>
                     <div class="accordion-item" data-aos="fade-left" data-aos-duration="900">
                       <h2 class="accordion-header" id="flush-headingTwo">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          PlCan you handle fragile or perishable goods?
                         </button>
                       </h2>
                       <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                         <div class="accordion-body">That's why we've compiled a list of frequently asked questions to help you get the answers you need quickly and easily. Whether you're curious about our range of services, need information on tracking your shipment, o</div>
                       </div>
                     </div>
                     <div class="accordion-item" data-aos="fade-left" data-aos-duration="1000">
                       <h2 class="accordion-header" id="flush-headingThree">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                           What security measures do you have for stored goods?
                         </button>
                       </h2>
                       <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                         <div class="accordion-body">That's why we've compiled a list of frequently asked questions to help you get the answers you need quickly and easily. Whether you're curious about our range of services, need information on tracking your shipment, o</div>
                       </div>
                     </div>
                     <div class="accordion-item" data-aos="fade-left" data-aos-duration="1100">
                       <h2 class="accordion-header" id="flush-headingFour">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                           Do you offer inventory management services?
                         </button>
                       </h2>
                       <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                         <div class="accordion-body">That's why we've compiled a list of frequently asked questions to help you get the answers you need quickly and easily. Whether you're curious about our range of services, need information on tracking your shipment, o</div>
                       </div>
                     </div>

                     <div class="accordion-item" data-aos="fade-left" data-aos-duration="1200">
                        <h2 class="accordion-header" id="flush-headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                           How do you ensure the safety of my shipments?
                          </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">That's why we've compiled a list of frequently asked questions to help you get the answers you need quickly and easily. Whether you're curious about our range of services, need information on tracking your shipment, o</div>
                        </div>
                      </div>

                      <div class="accordion-item" data-aos="fade-left" data-aos-duration="1300">
                        <h2 class="accordion-header" id="flush-headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                           How do I request a quote for shipping?
                          </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">That's why we've compiled a list of frequently asked questions to help you get the answers you need quickly and easily. Whether you're curious about our range of services, need information on tracking your shipment, o</div>
                        </div>
                      </div>

                   </div>
               </div>

            </div>
         </div>
      </div>
   </div>

   <!--===== FAQ AREA END =====-->

   <section class="hero10-benar bg-cover" style="background-image: url({% static 'web/assets/img/bg/logo-slider-bg1.png' %});">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">
            <div class="marquee-wrap marquee-wrap-inner">
              <div class="marquee-text">

                <div class="brand-single-box">
                <img src="{% static 'web/assets/img/logo/slider-logo1.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo2.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo3.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo4.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo5.png' %}" alt="">
              </div>


              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo1.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo2.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo3.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo4.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo5.png' %}" alt="">
                </div>


                <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo4.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo5.png' %}" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo1.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo2.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo3.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo4.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo5.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                  <img src="{% static 'web/assets/img/logo/slider-logo1.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo2.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo3.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo4.png' %}" alt="">
                </div>

                <div class="brand-single-box">
                    <img src="{% static 'web/assets/img/logo/slider-logo5.png' %}" alt="">
                </div>


              </div>
            </div>
          </div>
        </div>

        <div class="slider-after"></div>
      </div>
    </section>

   <!--===== BLOG AREA START =====-->

   <div class="blog5 _relative z-2 sp">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 m-auto text-center">
               <div class="heading1 text-center">
                  <span class="sub-title3" data-aos="fade-left" data-aos-duration="800">our latest blog and news</span>
                  <h2 data-aos="fade-left" data-aos-duration="1000">Industry Updates And News</h2>
               </div>
            </div>
         </div>
         <div class="row mt-30">

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1200">
               <div class="vl-blog-5-item mt-30">
                  <div class="vl-blog-5-thumb">
                     <img class="w-full" src="{% static 'web/assets/img/blog/blog5-image1.png' %}" alt="">
                  </div>
                  <div class="vl-blog-5-content">
                     <div class="vl-blog5-meta">
                        <a href="#" class="date"><img src="{% static 'web/assets/img/icon/blog5-date.svg' %}" alt=""> 8 December 2024</a>
                     </div>
                     <div class="author-area">
                        <div class="author_thumb">
                           <img src="{% static 'web/assets/img/blog/blog5-author1.png' %}" alt="">
                        </div>
                        <div class="author_text">
                           <a href="#">Daniel Hamilton</a>
                           <p>Transporter</p>
                        </div>
                     </div>
                     <h4><a href="blog-details.html" class="blog-title">How To Optimize Your Supply Chain Of Maximum Efficiency</a></h4>
                     <p class="mt-16">The logistics and transportation industry is constantly evolv with new technologies</p>
                     <a class="learn5" href="blog-details.html">Learn More <span><i class="fa-regular fa-arrow-right"></i></span></a>
                  </div>
               </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000">
               <div class="vl-blog-5-item mt-30">
                  <div class="vl-blog-5-thumb">
                     <img class="w-full" src="{% static 'web/assets/img/blog/blog5-image2.png' %}" alt="">
                  </div>
                  <div class="vl-blog-5-content">
                     <div class="vl-blog5-meta">
                        <a href="#" class="date"><img src="{% static 'web/assets/img/icon/blog5-date.svg' %}" alt=""> 8 December 2024</a>
                     </div>
                     <div class="author-area">
                        <div class="author_thumb">
                           <img src="{% static 'web/assets/img/blog/blog5-author2.png' %}" alt="">
                        </div>
                        <div class="author_text">
                           <a href="#">Kathy Pacheco</a>
                           <p>Transporter</p>
                        </div>
                     </div>
                     <h4><a href="blog-details.html" class="blog-title">From Warehousing to Last-Mile: The Latest in Logistics</a></h4>
                     <p class="mt-16">The logistics journey doesn’t stop at the transportation—warehousing, inventory</p>
                     <a class="learn5" href="blog-details.html">Learn More <span><i class="fa-regular fa-arrow-right"></i></span></a>
                  </div>
               </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
               <div class="vl-blog-5-item mt-30">
                  <div class="vl-blog-5-thumb">
                     <img class="w-full" src="{% static 'web/assets/img/blog/blog5-image3.png' %}" alt="">
                  </div>
                  <div class="vl-blog-5-content">
                     <div class="vl-blog5-meta">
                        <a href="#" class="date"><img src="{% static 'web/assets/img/icon/blog5-date.svg' %}" alt=""> 8 December 2024</a>
                     </div>
                     <div class="author-area">
                        <div class="author_thumb">
                           <img src="{% static 'web/assets/img/blog/blog5-author3.png' %}" alt="">
                        </div>
                        <div class="author_text">
                           <a href="#">Stephanie Nicol</a>
                           <p>Transporter</p>
                        </div>
                     </div>
                     <h4><a href="blog-details.html" class="blog-title">Revolutionizing Logistics: The Latest Industry Updates</a></h4>
                     <p class="mt-16">The logistics industry is undergoing major transformation driven by automation, AI</p>
                     <a class="learn5" href="blog-details.html">Learn More <span><i class="fa-regular fa-arrow-right"></i></span></a>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="sec-shape1">
         <img src="{% static 'web/assets/img/shapes/team1-shape1.png' %}" alt="">
      </div>
      <div class="sec-shape2 animate1">
         <img src="{% static 'web/assets/img/shapes/team1-shape2.png' %}" alt="">
      </div>
   </div>

   <!--===== BLOG AREA END =====-->

   <!--===== CTA AREA START =====-->

   <div class="cta5">
      <div class="container _relative">
         <div class="cta5-bg bg-cover" style="background-image: url({% static 'web/assets/img/bg/cta5-bg.png' %});">
            <div class="row align-items-center">
               <div class="col-lg-5">

               </div>
               <div class="col-lg-7">
                  <div class="white-heading">
                     <h2>Empowering Your Business With Best Smarter Logistic</h2>
                     <p class="mt-16">At Logicx Logistics And Transportation, we understand that today’s fast-paced world, efficiency is key to the success.</p>
                     <div class="button mt-30">
                        <a class="theme-btn4" href="contact.html">Request Logistics Support </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!--===== CTA AREA END =====-->
{% endblock %}