{% extends 'web/base.html' %}
{% load static %}
{% block content %}

   <!--===== HERO AREA START =====-->

   <div class="hero5-area _relative">
      <div class="swiper-container5 _relative">
         <div class="swiper-wrapper">

            {% for banner in banners %}
            <div class="swiper-slide">
               <div class="main-bg-image">
                  <img src="{{banner.image.url}}" alt="{{banner.title}}">
               </div>
               
               <div class="hero5-content">
                  <div class="container">
                     <div class="row align-items-center">
                        <div class="col-lg-10 text-center m-auto">
                           <div class="hero5-heading">
                              <span class="sub-title">{{banner.sub_title}}</span>
                              <h1>{{banner.title}}</h1>
                              <div class="button mt-30" data-aos="fade-left" data-aos-duration="1400">
                                 <a class="theme-btn1" href="#"><span class="text">Know More </span><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}

         </div>
      </div>
      
      <div class="hero5-slider-btns">
        <button class="swiper-button-prev"></button>
        <button class="swiper-button-next"></button>
      </div>
   </div>

   <!--===== HERO AREA START =====-->

   <!--===== ABOUT AREA START =====-->

  <div class="about4 sp">
   <div class="container">
       <div class="row align-items-center">
           <div class="col-lg-6">
               <div class="about4-images mr-30 sm:mr-30 md:mr-0">
                   <div class="image1" data-aos="zoom-out" data-aos-duration="800">
                       <img src="{% static 'web/assets/img/about/about4-image1.png' %}" alt="">
                   </div>
                   <div class="image2" data-aos="zoom-out" data-aos-duration="1000">
                       <img src="{% static 'web/assets/img/about/about4-image2.png' %}" alt="">
                   </div>
                   <div class="about4-image-text" data-aos="zoom-out" data-aos-duration="800">
                       <h3>15,360</h3>
                       <p>Clients Worldwide</p>
                   </div>
               </div>
           </div>
           <div class="col-lg-6">
               <div class="heading1 md:mt-30 sm:mt-30">
                   <span class="sub-title" data-aos="fade-left" data-aos-duration="800"><img src="assets/img/icon/sub-title-icon1.svg" alt=""> Reliable Logistics Solutions</span>
                   <h2 data-aos="fade-left" data-aos-duration="1000">Delivering Dependability Reliable Logistics Service</h2>
                   <p class="mt-16" data-aos="fade-left" data-aos-duration="1200">Established in 2017, we are one of the most trusted and sought-after wholesale distributors of high-quality food and non-food products across the Middle East. From premium meat, poultry, and seafood to a wide range of groceries and household essentials, our expanding footprint covers the UAE and the broader GCC region. Known for our reliability, consistency, and customer-focused approach, we are committed to delivering excellence in every bulk trade partnership we build.</p>
                   
                   <div class="button mt-30" data-aos="fade-left" data-aos-duration="1300">
                       <a class="theme-btn3" href="{% url 'web:about' %}">Read More </a>
                    </div>
               </div>
           </div>
       </div>
   </div>
 </div>

 <!--===== ABOUT AREA END =====-->

   <!--===== DELIVERY AREA START =====-->

   <div class="delivery2 sp  _relative z-2">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 m-auto">
               <div class="heading1 text-center">
                  <span class="sub-title3" data-aos="fade-left" data-aos-duration="800">Import & Export</span>
                  <h2 data-aos="fade-left" data-aos-duration="1000">How We Deliver Excellence</h2>
               </div>
            </div>
         </div>
         <div class="row mt-30">
            <div class="col-lg mt-30">
               <div class="delivery1-item-box2">
                  <div class="icon text-end mr-30">
                     <span><img src="{% static 'web/assets/img/icon/delivery2-icon1.svg' %}" alt=""></span>
                  </div>
                  <div class="box-area" data-aos="flip-right" data-aos-duration="800">
                     <div class="box mr-30">
                        <h4><a >Farm</a></h4>
                        <p class="mt-10">We work directly with a network of trusted farmers to source the freshest and highest quality raw materials, without involving any intermediaries</p>
                     </div>
                     <div class="num">
                        <h5>01</h5>
                     </div>
                  </div>
               </div>

               <div class="delivery1-item-box2 mt-40">
                  <div class="box-area" data-aos="flip-right" data-aos-duration="1000">
                     <div class="box mr-30">
                        <h4><a>Production Units</a></h4>
                        <p class="mt-10">Our products meet the highest standards of quality and hygiene, and are equipped with the latest technology to process and grade raw materials.</p>
                     </div>
                     <div class="num">
                        <h5>02</h5>
                     </div>
                  </div>
                  <div class="icon text-end mr-30">
                     <span><img src="{% static 'web/assets/img/icon/delivery2-icon2.svg' %}" alt=""></span>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="delivery1-images mt-50 text-center">
                  <div class="main-image">
                     <img src="{% static 'web/assets/img/others/delivery2-main.png' %}" alt="">
                  </div>
                  <div class="element1">
                     <img src="{% static 'web/assets/img/shapes/delivery1-element1.png' %}" alt="">
                  </div>
                  <div class="element2">
                     <img src="{% static 'web/assets/img/shapes/delivery1-element2.png' %}" alt="">
                  </div>
                  <div class="element3">
                     <img src="{% static 'web/assets/img/shapes/delivery1-element3.png' %}" alt="">
                  </div>
                  <div class="element4">
                     <img src="{% static 'web/assets/img/shapes/delivery1-element4.png' %}" alt="">
                  </div>
               </div>
            </div>

            <div class="col-lg mt-30">
               <div class="delivery1-item-box2">
                  <div class="icon ml-30">
                     <span><img src="{% static 'web/assets/img/icon/delivery2-icon3.svg' %}" alt=""></span>
                  </div>
                  <div class="box-area" data-aos="flip-left" data-aos-duration="800">
                     <div class="num">
                        <h5>03</h5>
                     </div>
                     <div class="box ml-30">
                        <h4><a>FMCG Distributors</a></h4>
                        <p class="mt-10">We are committed to providing families with a diverse range of essential consumer products for their daily needs. Our product line includes a wide variety of cereals, pulses, spices, etc</p>
                     </div>
                  </div>
               </div>

               <div class="delivery1-item-box2 mt-40">
                  <div class="box-area" data-aos="flip-left" data-aos-duration="1000">
                     <div class="num">
                        <h5>04</h5>
                     </div>
                     <div class="box ml-30">
                        <h4><a>Export to GCC & African Countries</a></h4>
                        <p class="mt-10">We are proud to export our consumer products to the GCC and African countries, where they have been embraced by people who appreciate our commitment to quality and affordability.</p>
                     </div>
                  </div>
                  <div class="icon ml-30">
                     <span><img src="{% static 'web/assets/img/icon/delivery2-icon4.svg' %}" alt=""></span>
                  </div>
               </div>
            </div>

         </div>
      </div>
      
   </div>

   <!--===== DELIVERY AREA END =====-->

<!--===== Brand AREA START =====-->

<div class="case-study5 sp brand-slider-section" >
   <div class="container">
      <div class="row align-items-center align-items-center">
         <div class="col-lg-6">
            <div class="heading1">
               <span class="sub-title" data-aos="fade-left" data-aos-duration="800"><img src="assets/img/icon/sub-title-icon1.svg" alt=""> Brands</span>
               <h2 data-aos="fade-left" data-aos-duration="1200">Our Popular Brands</h2>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="case5-slider-btns text-end md:text-start sm:text-start md:mt-30 sm:mt-30" data-aos="fade-right" data-aos-duration="800">
               <button class="custom-button case5-next"><i class="fas fa-chevron-left"></i></button>
               <button class="custom-button case5-prev"><i class="fas fa-chevron-right"></i></button>
             </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="case5-slider case5grid6-slider  _relative mt-60" data-aos="fade-up" data-aos-duration="900">
               <div class="swiper-wrapper">
                  {% for brand in brands %}
                  <div class="swiper-slide">
                     <div class="case5-single-slider">
                        <div class="image-area">
                           <div class="image">
                              <img src="{{brand.image.url}}" alt="">
                           </div>
                        </div>
                        
                     </div>
                  </div>
                  {% endfor%}
                  

               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!--===== brand AREA END =====-->


   <!--===== FAQ AREA START =====-->
{% if faqs %}
   <div class="faq5 sp _relative">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 m-auto">
               <div class="heading1 text-center">
                  <span class="sub-title3" data-aos="fade-left" data-aos-duration="800">Frequently Asked Questions</span>
                  <h2 data-aos="fade-left" data-aos-duration="1000">Quick Answers Your Questions</h2>
               </div>
            </div>
         </div>
         
         <div class="row">
            <div class="col-lg-10 m-auto">
               <div class="faq5-area pt-16">
                  <div class="accordion accordion1 accordion-flush" id="accordionFlushExample">
                     {% for faq in faqs %}
                     <div class="accordion-item active" data-aos="fade-left" data-aos-duration="800">
                       <h2 class="accordion-header" id="flush-headingOne">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                           {{faq.question}}
                         </button>
                       </h2>
                       <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                         <div class="accordion-body">{{faq.answer}}</div>
                       </div>
                     </div>
                     {% endfor %}

                   </div>
               </div>

            </div>
         </div>
      </div>
   </div>
{% endif %}
   <!--===== FAQ AREA END =====-->


<!--===== Product AREA START =====-->

   <div class="solutions4 sp bg-cover" style="background-image: url(assets/img/bg/common-bg1.jpg);">
      <div class="container">
         <div class="row align-items-center align-items-center">
            <div class="col-lg-6">
               <div class="heading1">
                  <span class="sub-title" data-aos="fade-left" data-aos-duration="800"><img src="assets/img/icon/sub-title-icon1.svg" alt="">Our Products</span>
                  <h2 data-aos="fade-left" data-aos-duration="1200">Explore Our Popular Products</h2>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="solutions4-slider-btns text-end md:text-start sm:text-start md:mt-30 sm:mt-30" data-aos="fade-right" data-aos-duration="800">
                  <button class="custom-button solutions4-next" id="prevBtn"><i class="fas fa-chevron-left"></i></button>
                  <button class="custom-button solutions4-prev" id="nextBtn"><i class="fas fa-chevron-right"></i></button>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="solutions4-slider _relative mt-60" data-aos="fade-up" data-aos-duration="900">
                  <div class="swiper-wrapper">

                     {% for product in products %}
                        <div class="swiper-slide">
                           <div class="solutions4-single-slider">
                              <div class="image-area">
                                 <div class="image">
                                    <img src="{{product.image.url}}" alt="">
                                 </div>
                              </div>
                              <div class="content-area">
                                
                                 <div class="content">
                                    <div class="top-area">
                                       <div class="heading">
                                          <h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
                                       </div>
                                       
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

<!--===== Product AREA END =====-->


  <!--===== BLOG AREA START =====-->

  <div class="blog2 _relative z-2" >
   <div class="container">
      <div class="row">
         <div class="col-lg-6 m-auto text-center">
            <div class="heading1 text-center">
               <span class="sub-title2" data-aos="fade-left" data-aos-duration="800">our latest blog and updates</span>
               <h2 data-aos="fade-left" data-aos-duration="1000">Blog And Updates</h2>
            </div>
         </div>
      </div>
      <div class="row mt-30">

         {% for blog in blogs %}
         <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
            <div class="vl-blog-2-item mt-30">
               <div class="vl-blog-2-thumb">
                  <img class="w-full" src="{{blog.image.url}}" alt="{{blog.title}}">
               </div>
               <div class="vl-blog-2-content">
                  <div class="vl-blog2-meta">
                     <a href="#" class="date"><img src="{% static 'web/assets/img/icon/date-icon1.svg' %}" alt="">{{blog.date}}</a>
                  </div>
                  <h4><a href="{{blog.get_absolute_url}}" class="blog-title">{{blog.title|truncatechars:50}}</a></h4>
                  <a class="theme-btn1 mt-24" href="{{blog.get_absolute_url}}"><span class="text">Read More </span><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
               </div>
            </div>
         </div>
         {% endfor %}

      </div>
   </div>
  
</div>

<!--===== BLOG AREA END =====-->



{% endblock %}