{% extends 'web/base.html' %}
{% load static %}
{% block content %}
   <!--===== HERO AREA START =====-->

   <div class="inner-hero bg-cover" style="background-image: url({% static 'web/assets/img/bg/inner-hero-bg.jpg' %});">
      <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="inner-heading">
                    <h1>Our Services</h1>
                    <div class="breadcrumbs-pages">
                        <ul>
                           <li><a href="{% url 'web:index' %}">Home</a></li>
                           <li class="angle"><i class="fa-solid fa-angle-right"></i></li>
                           <li>Our Services</li>
                        </ul>
                     </div>
                </div>
            </div>
            
        </div>
      </div>
      <div class="sec-shape">
        <img src="{% static 'web/assets/img/shapes/inner-hero-shape.png' %}" alt="">
      </div>
   </div>

   <!--===== HERO AREA START =====-->
   
   <!--===== SOLUTIONS AREA START =====-->

   <div class="solutions1 sp">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-md-6">
             <div class="solutions-box">
                <div class="image">
                   <img src="{% static 'web/assets/img/others/solutions1-image1.png' %}" alt="">
                </div>
                <div class="content heading1">
                   <div class="icon">
                      <img src="{% static 'web/assets/img/icon/solutions1-icon1.png' %}" alt="">
                   </div>
                   <h4 class="uppercase mt-16"><a href="#">Land Freight</a></h4>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6">
             <div class="solutions-box sm:mt-30">
                <div class="image">
                   <img src="{% static 'web/assets/img/others/solutions1-image2.png' %}" alt="">
                </div>
                <div class="content heading1">
                   <div class="icon">
                      <img src="{% static 'web/assets/img/icon/solutions1-icon2.png' %}" alt="">
                   </div>
                   <h4 class="uppercase mt-16"><a href="#">Sea Freight</a></h4>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6">
             <div class="solutions-box md:mt-30 sm:mt-30">
                <div class="image">
                   <img src="{% static 'web/assets/img/others/solutions1-image3.png' %}" alt="">
                </div>
                <div class="content heading1">
                   <div class="icon">
                      <img src="{% static 'web/assets/img/icon/solutions1-icon3.png' %}" alt="">
                   </div>
                   <h4 class="uppercase mt-16"><a href="#">Air Freight</a></h4>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="solutions-box mt-30">
               <div class="image">
                  <img src="{% static 'web/assets/img/others/solutions1-image4.png' %}" alt="">
               </div>
               <div class="content heading1">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/solutions1-icon4.png' %}" alt="">
                  </div>
                  <h4 class="uppercase mt-16"><a href="#">Rail Freight</a></h4>
               </div>
            </div>
         </div>

         <div class="col-lg-4 col-md-6">
            <div class="solutions-box mt-30">
               <div class="image">
                  <img src="{% static 'web/assets/img/others/solutions1-image5.png' %}" alt="">
               </div>
               <div class="content heading1">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/solutions1-icon5.png' %}" alt="">
                  </div>
                  <h4 class="uppercase mt-16"><a href="#">Order Fulfillment</a></h4>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="solutions-box mt-30">
               <div class="image">
                  <img src="{% static 'web/assets/img/others/solutions1-image6.png' %}" alt="">
               </div>
               <div class="content heading1">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/solutions1-icon6.png' %}" alt="">
                  </div>
                  <h4 class="uppercase mt-16"><a href="#">Reverse Logistics</a></h4>
               </div>
            </div>
         </div>

         <div class="col-lg-4 col-md-6">
            <div class="solutions-box mt-30">
               <div class="image">
                  <img src="{% static 'web/assets/img/others/solutions1-image7.png' %}" alt="">
               </div>
               <div class="content heading1">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/solutions1-icon7.png' %}" alt="">
                  </div>
                  <h4 class="uppercase mt-16"><a href="#">Heavy Equipment</a></h4>
               </div>
            </div>
         </div>

         <div class="col-lg-4 col-md-6">
            <div class="solutions-box mt-30">
               <div class="image">
                  <img src="{% static 'web/assets/img/others/solutions1-image8.png' %}" alt="">
               </div>
               <div class="content heading1">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/solutions1-icon8.png' %}" alt="">
                  </div>
                  <h4 class="uppercase mt-16"><a href="#">Industrial Logistics</a></h4>
               </div>
            </div>
         </div>

         <div class="col-lg-4 col-md-6">
            <div class="solutions-box mt-30">
               <div class="image">
                  <img src="{% static 'web/assets/img/others/solutions1-image9.png' %}" alt="">
               </div>
               <div class="content heading1">
                  <div class="icon">
                     <img src="{% static 'web/assets/img/icon/solutions1-icon9.png' %}" alt="">
                  </div>
                  <h4 class="uppercase mt-16"><a href="#">On-Demand Delivery</a></h4>
               </div>
            </div>
         </div>


       </div>

       <div class="space60"></div>
        <div class="row">
            <div class="col-12 m-auto">
               <div class="theme-pagination text-center">
                <ul>
                    <li><a href="#"><i class="fa-solid fa-angle-left"></i></a></li>
                    <li><a class="active" href="#">01</a></li>
                    <li><a href="#">02</a></li>
                    <li>...</li>
                    <li><a href="#">12</a></li>
                    <li><a href="#"><i class="fa-solid fa-angle-right"></i></a></li>
                </ul>
               </div>
            </div>
        </div>

    </div>
 </div>

 <!--===== SOLUTIONS AREA END =====-->

{% endblock %}