{% load static %} 
 <!--===== MOBILE HEADER STARTS =======-->
  <div class="vl-offcanvas vl-header-area1">
    <div class="vl-offcanvas-wrapper">
        <div class="vl-offcanvas-header d-flex justify-content-between align-items-center mb-90">
            <div class="vl-offcanvas-logo">
                <a href="{% url 'web:index' %}" class="header1-logo-block"><img src="{% static 'web/assets/img/logo/logo.png' %}" alt=""></a>
            </div>
            <div class="vl-offcanvas-close">
               <button class="vl-offcanvas-close-toggle"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
 
        <div class="vl-offcanvas-menu d-lg-none mb-40">
            <nav></nav>
        </div>
 
        <div class="space20"></div>
        <div class="vl-offcanvas-contact vl-footer-widget-black1 mb-20 sm:ml-0 md:ml-0">
           <h4>Contact Information</h4>
           <div class="single-contact-item">
              <div class="text">
                 <a href="mail:info@speedandsafetrading.com"><span><i class="fa-regular fa-envelope"></i></span> info@speedandsafetrading.com</a>
              </div>
           </div>
 
           <div class="single-contact-item">
              <div class="text">
                 <a href="#"><span><i class="fa-regular fa-location-dot"></i></span> 96493, Dubai, U.A.E</a>
              </div>
           </div>
 
           <div class="single-contact-item">
              <div class="text">
                 <a href="tel:+971509846948"><span><i class="fa-regular fa-phone"></i></span> +971 50 984 6948</a>
              </div>
           </div>

           <div class="single-contact-item">
            <div class="text">
               <a href="tel:+971561402818"><span><i class="fa-regular fa-phone"></i></span> +971 56 140 2818</a>
            </div>
         </div>
 
        </div>
        <div class="vl-offcanvas-social mt-24">
           <h4>Follow Us</h4>
            <div class="vl-copyright-social2 text-start">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
           </div>
         </div>
 
    </div>
 </div>
 <div class="vl-offcanvas-overlay"></div>
 <!--===== MOBILE HEADER STARTS =======-->